{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row single-director">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="count">
                {{ director.name }}
            </div>
            <div>{{ director.bio }}</div>
            <div class="title">
                <strong>Movies: </strong>
                {% for movie in director.movie_set.all %}
                    <a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a><br>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% if director.photo %}
                <img src="{{ director.photo.url }}" class="img-responsive">
            {% endif %}
        </div>

    </div>
{% endblock content %}