{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row single-movie">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="count">
                {{ movie.name }}
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="movie-rating"></div>
                </div>
                <div class="col-md-2">
                    <h3 id="movie-rating-number">{{ rating }}</h3>
                </div>
            </div>
            <div>{{ movie.plot }}</div>
            <div class="title">
                <strong>Director: </strong>
                {% for director in movie.directors.all %}
                    <a href="{{ director.get_absolute_url }}">{{ director.name }}</a><br>
                {% endfor %}
            </div>
            <div class="title">
                <strong>Cast: </strong>
                {% for actor in movie.actors.all %}
                    <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a><br>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% if movie.photo %}
                <img src="{{ movie.photo.url }}" class="img-responsive">
            {% endif %}
        </div>

    </div>
{% endblock content %}

{% block javascript %}
    <script>
        $("#movie-rating").rateYo({
            rating: {{ rating }},
            numStars: 10,
            halfStar: true,
            precision: 1,
            maxValue: 10,
            {% if user.is_authenticated %}
                onSet: function (rating, rateYoInstance) {
                    $.ajax({
                        url: "/movies/{{ movie.id }}/rating",
                        type: "GET",
                        data: {rating: rating},
                        success: function (response) {
                            document.getElementById('movie-rating-number').innerHTML = response['rating'];
                        }
                    });
                }
            {% endif %}
        });

    </script>
{% endblock %}