{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row single-movie">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="count">
                {{ movie.name }}
            </div>
            <div>{{ movie.plot }}</div>
            <div class="title">
                <strong>Director: </strong>
                {% for director in movie.directors.all %}
                    <a href="{{ director.get_absolute_url }}">{{ director.name }}</a><br>
                {% endfor %}
            </div>
            <div class="title">
                <strong>Cast: </strong>
                {% for actor in movie.actors.all %}
                    <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a><br>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% if movie.photo %}
                <img src="{{ movie.photo.url }}" class="img-responsive">
            {% endif %}
        </div>

    </div>
{% endblock content %}