{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row single-movie">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="count">
                {{ movie.name }}
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="movie-rating"></div>
                </div>
                <div class="col-md-2">
                    <h3 id="movie-rating-number">{{ rating }}</h3>
                </div>
            </div>
            <div>{{ movie.plot }}</div>
            <div class="title">
                <strong>Director: </strong>
                {% for director in movie.directors.all %}
                    <a href="{{ director.get_absolute_url }}">{{ director.name }}</a><br>
                {% endfor %}
            </div>
            <div class="title">
                <strong>Cast: </strong>
                {% for actor in movie.actors.all %}
                    <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a><br>
                {% endfor %}
            </div>

            {% if user.is_authenticated %}
                <div class="review-add-btn">
                    <a class="btn btn-success" onclick="openReviewModal()">
                        <i class="fa fa-plus"></i> Add Review
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% if movie.photo %}
                <img src="{{ movie.photo.url }}" class="img-responsive movie-poster">
            {% endif %}
        </div>

    </div>
    <div class="row reviews">
        {% include 'movies/reviews.html' %}
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        $("#movie-rating").rateYo({
            rating: {{ rating }},
            numStars: 10,
            halfStar: true,
            precision: 1,
            maxValue: 10,
            {% if user.is_authenticated %}
                onSet: function (rating, rateYoInstance) {
                    $.ajax({
                        url: "/movies/{{ movie.id }}/rating",
                        type: "GET",
                        data: {rating: rating},
                        success: function (response) {
                            document.getElementById('movie-rating-number').innerHTML = response['rating'];
                        }
                    });
                }
            {% endif %}
        });
    
    function openEditForm(review_id) {
        $('#review_modal').modal('show');
        review_id = "#review_" + review_id;
        var title = $(review_id + ' .title').html();
        var des = $(review_id + ' .descrip').html();
        var spoiler = $(review_id).find('b')[0] == null ? false : true;
        $('#review_modal #title').val(title);
        $('#review_modal #content').val(des);
        if(spoiler)
            $("#review_modal input[type='checkbox']").prop("checked", true);
        else
           $("#review_modal input[type='checkbox']").prop("checked", false);
    }

    function openReviewModal() {
        $('#review_modal').modal('show');
        $('#review_modal #title').val('');
        $('#review_modal #content').val('');
        $("#review_modal input[type='checkbox']").prop("checked", false);
    }

    </script>
{% endblock %}