<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="">
                <a class="" href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="" href="/movies">
                    <i class="fa fa-video-camera"></i>
                    <span>Movies</span>
                </a>
            </li>
            <li>
                <a class="" href="/directors">
                    <i class="fa fa-users"></i>
                    <span>Directors</span>
                </a>
            </li>
            <li>
                <a class="" href="/actors">
                    <i class="fa fa-star"></i>
                    <span>Actors</span>
                </a>
            </li>

{#            <li class="sub-menu">#}
{#                <a href="javascript:;" class="">#}
{#                    <i class="icon_table"></i>#}
{#                    <span>Tables</span>#}
{#                    <span class="menu-arrow arrow_carrot-right"></span>#}
{#                </a>#}
{#                <ul class="sub">#}
{#                    <li><a class="active" href="basic_table.html">Basic Table</a></li>#}
{#                </ul>#}
{#            </li>#}

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
