{% extends 'layouts/base_authentication.html' %}

{% block content %}

    <form action="/accounts/register/" method="post" class="login-form">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        {{ form.non_field_errors }}
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                {{ form.email }}
            </div>
            {{ form.email.errors }}
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                {{ form.password1 }}
            </div>
            {{ form.password1.errors }}
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                {{ form.password2 }}
            </div>
            {{ form.password2.errors }}
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
            <button class="btn btn-primary btn-lg btn-block" type="button">Login</button>
        </div>


    </form>

{% endblock %}